* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background-image: url('../images/Background-Frame\ -Web.png');
    background-blend-mode: luminosity;
    background-color: rgb(04, 11, 38);
}

.leftBody {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.leftBody img {
    width: 11.625em;
    height: 11.4375em;
}

.leftBody h2 {
    color: white;
    font-size: 34px;
}

.rightBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #00C19C;
    border-radius: 10px;
    width: 30.5em;
    height: 42.1875em;
}

.rightBody input {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    width: 20.3125em;
    height: 3.5625em;
    background-color: #04030C;
    color: white;
    border-radius: 10px;
    margin: 0.8em;
}

.rightBody button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    width: 20.3125em;
    height: 3.5625em;
    border-radius: 10px;
    background-color: #001024;
    border: 2px solid #00C19C;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.forgotpassword {
    width: 77%;
    display: flex;
    justify-content: flex-start;
    padding: 2em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #00C19C;
    cursor: pointer;
}

.noAccount {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #F1F1F1;
    margin-top: 1.5em;
}

.register {
    color: #00C19C;
    cursor: pointer;
}

@media (max-width: 1441px) {
    .leftBody {
        width: 20em;
    }

    .rightBody {
        width: 28em;
        height: 40em;
    }
}

@media (max-width: 1025px) {
    .leftBody {
        width: 18em;
    }

    .leftBody h2 {
        font-size: 32px;
    }

    .rightBody {
        width: 26em;
        height: 34em;
    }
}


@media (max-width: 769px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    .leftBody {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.7em;
        margin-top: 0.7em;
    }

    .leftBody img {
        height: 6em;
        width: 6em;
    }

    .leftBody h2 {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }

    .rightBody {
        height: 20em;
        width: 22em;
        margin-bottom: 2em;
        border: 1.34426px solid #00C19C;
        border-radius: 6.72131px;
    }

    .rightBody input {
        width: 17em;
        height: 2.5625em;
    }

    .rightBody button {
        width: 17em;
        height: 2.5625em;
    }
    
    .forgotpassword, .noAccount {
        font-size: 12px;
    }
}

@media (max-width: 376px) {

    .leftBody img {
        height: 5em;
        width: 5em;
    }

    .leftBody h2 {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }

    .rightBody {
        height: 25em;
    }


    .rightBody button {
        width: 12.125em;
        height: 2.4375em
    }
    
    .forgotpassword, .noAccount {
        font-size: 8.75px;
    }

}

@media (max-width: 321px) {

    .leftBody img {
        height: 4em;
        width: 4em;
    }

    .leftBody h2 {
        font-size: 11px;
        font-weight: 400;
        text-align: center;
    }

    .rightBody {
        height: 25em;
        width: 16em;
    }

    .rightBody input {
        width: 12.125em;
        height: 2.4375em;
    }

    .rightBody button {
        width: 12.125em;
        height: 2.4375em
    }
    
    .forgotpassword, .noAccount {
        font-size: 8.75px;
    }
}