/* * {
    outline: 1px solid red;
} */

:root {
    --green: #00C19C;
}


body{
font-family: Montserrat;
background: black url("../images/Background\ Frame\ -\ Web.png") center top no-repeat fixed;
background-size: cover;
background-color: #001024!important;
background-blend-mode: luminosity;
margin-bottom: 1px;
}

header{
    position: relative;
    width: 100%;
    height: 95px;
    left: 0px;
    top: 0px;
    background: #04030C;
}

.card-borda {
    border: 2px solid var(--green) !important;
    background: none!important;
}

.card-borda .card-body p{
    margin-bottom: 0px!important;
}

.cabeçalhoPrincipal {
    margin: 10px 0px;
}


.cabecalhoPrincipal .container{
    display:flex;
    justify-content: space-between;
    top: 15px;  
    align-items: center;
}

h1{
    margin-left: 20px;
}

nav {
    position: flex;
}

nav li {
    display: inline;
    margin:0 0 0 15px;
    margin-right: 20px;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto; 
}

.username{
    position: absolute;
    width: 246px;
    height: 41px;
    left: 120px;
    top: 175px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color:#F1F1F1
}

.username:before{
    content:"{ ";
    color: #00C19C;
}

.username:after{
    content:" }";
    color: #00C19C;  
}


.descricao-principal{
    position: absolute;
    width: 577px;
    height: 29px;
    left: 120px;
    top: 240px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #F1F1F1;
}

.trilhas{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    height: 542px;
    left: 80px;
    top: 200px;
}

.trilha-descricao{
    display: inline-block;
    width:291px;
    height: 72px;
    margin:0 1.5%;
    margin-top: 20px;
    font-weight: 400;   
    padding: 19px;
    font-size: 20px;
    line-height: 24px;
    color: #F1F1F1;
}

.icones-trilha{
    display:flex;
    position:relative;
    width: 1.25em;
    height: 1.25em;
}

.quantidade-conteudos {
    font-size: 24px;
    font-weight: 700;
}

.card-background{
    position: absolute;
    background: linear-gradient(75.06deg, rgba(0, 0, 0, 0.7) 51.42%, rgba(0, 0, 0, 0) 80.56%);
    background-blend-mode: multiply;
    border-radius: 10px;
}

.card-icon{
    position:relative
    
}

.card-informacoes {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

.card-info-coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.2em;
}

.card-info-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
}

.card-p {
    margin-left: 1.2em;
}

.trilhas li{
    position: relative;
    width: 328px;
    height: 540px;
    left: 0px;
    top: 149px;
    
    background: #001024;
    background-blend-mode: multiply;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid;
    border-color: #00C19C;
}


input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;

    position: absolute;
    width: 138px;
    height: 50px;
    left: 95px;
    top: 442px;

    background: RGB(10,74,154,1);
    border: 2px solid #00C19C;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #F1F1F1
}

input:hover{
    background-color: RGB(0,46,154,1);
}

input:active{
    background-color: RGB(0,16,36,1);
}

footer{
    display: flex;
    width: 100%;
    height: 314px;
    /* left: 0px; */
    background: rgba(4, 3, 12, 0.9);
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

div.aula{
    color: white;
}

.pendente{
    background-color: #CA1C1C;
} 

/* .concluido{
    background-color: blue;
} */

#barra {
    height: 20px;
    border-radius: 3px;
    background-color: #001024;
    border: 1px solid white
}

#barra div {
    height: 100%;
    border-radius: 2px;
    background-color: #00C19C;
    transition: 300ms;
}

#info-trilha {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

#info-trilha>div {
    padding: 20px 12vw;
}

#info-trilha > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #00C19C;
    border-bottom: 2px solid #00C19C;
    padding: 20px 10vw;
    box-sizing: border-box;

}

.linhaVertical {
    display: inline;
    width: 3px;
    height: 50px;
    background-color: #00C19C;

}

#info-trilha div h3 {
    color: #00C19C;
}

main {
    margin-bottom: 20px;
}

main button {
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px;
}



#infoProgresso {
    display: flex;
    justify-content: flex-end;
}

#criadorTrilha p:nth-child(1) {
    font-weight: bold;
}

.aula {
    border: 2px solid #00C19C;;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 90vw;
}

.card-body a {
    color: white;
}

#conteudos > div{
    /* display: flex;
    flex-direction: column;
    align-items: center; 
    margin:20px;*/
    padding: 10px 0px;
}

#conteudos #colunas {
    /* display: flex;
    width: 90%;
    padding: 20px;
    justify-content: space-between;
    box-sizing: border-box;*/
    
}

#conteudos #colunas>p{
   /* width: 25%;
    text-align: center;*/
}


#conteudos #colunas div {
    /*display: flex;
    width: 75%;*/
}

#conteudos #colunas div p:nth-child(1) {
    width: 50%;
}
#conteudos #colunas div p:nth-child(2) {
    width: 20%;
}

#conteudos #colunas div p:nth-child(3) {
    width: 30%;
}


#conteudos #colunas p {
    margin: 10px 0px;
}


.aula a {
    width: 75%;
    display: flex;
    text-decoration: none;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    
    
}

.aula a p{
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.aula a p:nth-child(1) {
    width: 50%;
}
.aula a p:nth-child(2) {
    width: 20%;
}
.aula a p:nth-child(3) {
    width: 30%;
}

.aula button {
    margin: 20px 0px;
}

.aula img{
    margin: 20px 20px 20px 5px;
    height: 1em;
    
}
#container-progresso{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btnVoltar {
    padding: 10px 60px;
    background-color: #001024;
    border:  2px solid #00C19C;
    color: white;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.row {
    margin: 0px !important;
}




