body{
font-family: Montserrat;
background-image: url("../images/Background\ Frame\ -\ Web.png");
background-color: rgb(4, 11, 38);
background-blend-mode: luminosity;
}

header{
    position: relative;
    width: 100%;
    height: 95px;
    left: 0px;
    top: 0px;
    background: #04030C;
}


.cabecalhoPrincipal .container{
    display:flex;
    justify-content: space-between;
    top: 15px;  
    align-items: center;
}

h1{
    margin-left: 20px;
}

nav {
    position: flex;
}

nav li {
    display: inline;
    margin:0 0 0 15px;
    margin-right: 20px;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto; 
}

.username{
    position: absolute;
    width: 246px;
    height: 41px;
    left: 120px;
    top: 175px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color:#F1F1F1
}

.username:before{
    content:"{ ";
    color: #00C19C;
}

.username:after{
    content:" }";
    color: #00C19C;  
}


.descricao-principal{
    position: absolute;
    width: 577px;
    height: 29px;
    left: 120px;
    top: 240px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #F1F1F1;
}

.trilhas{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    height: 542px;
    left: 80px;
    top: 200px;
    color:#F1F1F1;
}

.trilha-descricao{
    display: inline-block;
    width:291px;
    height: 72px;
    margin:0 1.5%;
    margin-top: 20px;
    font-weight: 400;   
    padding: 19px;
    font-size: 20px;
    line-height: 24px;
    color: #F1F1F1;
}

.icones-trilha{
    display:flex;
    position:relative;
    width: 1.25em;
    height: 1.25em;
}

.quantidade-conteudos {
    font-size: 24px;
    font-weight: 700;
}

.card-background{
    display: flex;
    position: absolute;
    background: linear-gradient(75.06deg, rgba(0, 0, 0, 0.7) 51.42%, rgba(0, 0, 0, 0) 80.56%);
    background-blend-mode: multiply;
    border-radius: 10px;
}

.cabecalho-trilha{
    display:flex;
    align-items: center;
    justify-content:space-between
}

.card-icon{
    display: flex;
    position:relative;
}

.nome-trilha{
    position: relative;
    display: flex;    
}

.trilha-imagem{
    position:relative;
    display: flex;
}

.nome-imagem-trilha{
    display:flex;
    flex-wrap: wrap;
    column-gap: 2em;
}

.card-informacoes {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

.card-info-coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: flex-start;
    gap: 0.2em;
}

.card-info-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
}

.card-p {
    margin-left: 1.2em;
}

.trilhas li{
    position: relative;
    width: 328px;
    height: 540px;
    left: 0px;
    top: 149px;
    
    background: #001024;
    background-blend-mode: multiply;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid;
    border-color: #00C19C;
}


input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;

    position: absolute;
    width: 138px;
    height: 50px;
    left: 95px;
    top: 442px;

    background: RGB(10,74,154,1);
    border: 2px solid #00C19C;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #F1F1F1
}

input:hover{
    background-color: RGB(0,46,154,1);
}

input:active{
    background-color: RGB(0,16,36,1);
}

footer{
    position: relative;
    display: flex;
    width: 100%;
    height: 314px;
    left: 0px;
    top:900px;
    background: rgba(4, 3, 12, 0.9);
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    align-content: flex-end;
}

@media screen and (max-width:600px) {
    .trilhas {
        display: flex;
        position:flex;
        flex-wrap: wrap;
        width: auto;
        left:0;
    }

    .username, .descricao-principal {
        display: flex;
        position:flex;
        align-content: center;
        width: auto;
        left:0
    }

    footer{
        top:2000px;
        width: 100%;
    }

}    